body{
  background-color: rgb(116,119,124);
  min-width: 400px;
  min-height: 250px;
  text-align: center;
}

button{
  background-color: rgb(96,220,52);
  border-color: black;
  color: black;
  padding: 10px;
border-radius: 4px;
font-size: 13px;
display: inline-block;
text-align: center;
}
button:disabled{
  background-color: red;
}
button:hover{
  background-color: rgb(96,255,100);
}
button:disabled:hover{
  background-color: black;
}

h1{

}
p{
  font-size: 25px;
}
#logo {
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
  text-align: center;
}
#option{
  float:left;
}
#text{
  font-size: 20px;

}
.wrapping{
  display: block;
  margin: 0 auto;

}
textarea{
  background-color: yellow;
  border-color: black;
  border: 4px;
  color: black;
  text-align: center;;
  font-size: 15px;
}
